{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react",
    "@babel/preset-env",
    ["@babel/preset-stage-0", { "decoratorsLegacy": true }],
    ["@babel/preset-stage-1", { "decoratorsLegacy": true }]
  ],
  "retainLines": true
}
